In [90]:
import pandas as pd
import datetime as dt

In [91]:
finable_df = pd.read_csv('../data/finable.csv')

In [92]:
finable_df['request_date'] = pd.to_datetime(finable_df['request_date'])

In [93]:
finable_df = finable_df.drop(columns = 'Unnamed: 0')

In [94]:
unique_add = finable_df[['address', 'hauler']]

In [95]:
unique_add = unique_add.drop_duplicates().reset_index(drop = True)

In [96]:
unique_add

                    address     hauler
0     4028 clarksville pike  RED RIVER
1           830 meridian st      METRO
2     2218 buena vista pike  RED RIVER
3           449 westboro dr  RED RIVER
4           1144 sewanee rd  RED RIVER
...                     ...        ...
1428         317 42nd ave n  RED RIVER
1429      1808 eastland ave      METRO
1430          3321 cocoa dr  RED RIVER
1431      1334 rosedale ave      METRO
1432        1614 ashton ave  RED RIVER

[1433 rows x 2 columns]

In [97]:
hauler_list = unique_add[['hauler']]
hauler_list = hauler_list.drop_duplicates().reset_index(drop=True)

In [98]:
hauler_list['fines'] = 0
hauler_list['dollars'] = 0
hauler_list

      hauler  fines  dollars
0  RED RIVER      0        0
1      METRO      0        0
2  WASTE IND      0        0
3    unknown      0        0

In [120]:
months6 = dt.timedelta(weeks=26)
fines = 0
for hauler_index, hauler_values in hauler_list.iterrows():
    fines = 0
    for addr_index, addr_values in unique_add.iterrows():
        if hauler_values['hauler'] == addr_values['hauler']:
            temp_df = finable_df.loc[finable_df['address']==addr_values['address']].sort_values('request_date')
            #print(addr_values['address'])
            #print(len(temp_df.index),' complaints')
            complaints = len(temp_df.index)
            counter = 1
            while counter < (complaints-1):
                #print('calculate')
                #print('  ',temp_df.iloc[counter+1][1] - temp_df.iloc[counter-1][1])
                if (temp_df.iloc[counter+1][1] - temp_df.iloc[counter-1][1]) < months6:
                    fines = fines +1
                    #print (fines, 'fines so far')
                counter = counter + 1
    print (hauler_values['hauler'], ' has ',fines,' fines')    
    print (hauler_values['hauler'], ' must pay $', fines * 1500)
            #counter
            #damages += 1
            #print(damages)

RED RIVER  has  1996  fines
RED RIVER  must pay $ 2994000
METRO  has  425  fines
METRO  must pay $ 637500
WASTE IND  has  119  fines
WASTE IND  must pay $ 178500
unknown  has  6  fines
unknown  must pay $ 9000

In [121]:
finable_df.route.value_counts()

route
1304     171
1303     167
4504     158
3302     155
1301     134
        ...
4305S      3
4508       3
3402S      3
2207       3
3411       3
Name: count, Length: 160, dtype: int64

In [122]:
months6 = dt.timedelta(weeks=26)
fines = 0
for hauler_index, hauler_values in hauler_list.iterrows():
    fines = 0
    for addr_index, addr_values in unique_add.iterrows():
        if hauler_values['hauler'] == addr_values['hauler']:
            temp_df = finable_df.loc[finable_df['address']==addr_values['address']].sort_values('request_date')
            #print(addr_values['address'])
            #print(len(temp_df.index),' complaints')
            complaints = len(temp_df.index)
            counter = 1
            while counter < (complaints-1):
                #print('calculate')
                #print('  ',temp_df.iloc[counter+1][1] - temp_df.iloc[counter-1][1])
                if (temp_df.iloc[counter+1][1] - temp_df.iloc[counter-1][1]) < months6:
                    fines = fines +1
                    #print (fines, 'fines so far')
                    counter = counter + 3
                else:
                    counter = counter + 1
                
    print (hauler_values['hauler'], ' has ',fines,' fines')    
    print (hauler_values['hauler'], ' must pay $', fines * 1500)
            #counter
            #damages += 1
            #print(damages)

RED RIVER  has  1061  fines
RED RIVER  must pay $ 1591500
METRO  has  231  fines
METRO  must pay $ 346500
WASTE IND  has  69  fines
WASTE IND  must pay $ 103500
unknown  has  5  fines
unknown  must pay $ 7500

In [123]:
1061+231+69+5

1366

In [124]:
1591500+346500+103500+7500

2049000

In [130]:
finable_df['zip_code'].value_counts().to_frame().reset_index()

    zip_code  count
0      37013    750
1      37205    684
2      37211    666
3      37215    519
4      37209    444
5      37115    410
6      37207    396
7      37218    339
8      37208    328
9      37214    267
10     37206    265
11     37217    245
12     37204    220
13     37216    207
14     37210    172
15     37203    162
16     37212    155
17     37220     84
18     37027     59
19     37189     21
20     37221     18
21     37201     17
22     37219     17

In [132]:
finable_df['address'].value_counts()

address
110 george l davis blvd     28
5135 hickory hollow pkwy    23
12546 old hickory blvd      21
3710 n natchez ct           20
6007 obrien ave             20
                            ..
2215 kirk ave                3
557 whispering hills dr      3
3629 longhaven xing          3
615 harding pl               3
1614 ashton ave              3
Name: count, Length: 1433, dtype: int64